- title 'Поддержка 3D-трансформаций'

.browsers
  .browser
    = image_tag 'chrome.png'
    .version 12
  .browser
    = image_tag 'mozilla.png'
    .icon
    .version 10
  .browser.msie
    = image_tag 'msie.png'
    .icon
    .version 10
  .browser.ios
    = image_tag 'ios.png'
    .icon
    .version 3.2
  .browser.android
    = image_tag 'android.png'
    .icon
    .version 3.0
  .browser.unsupported
    = image_tag 'opera.png'
    .icon
    .version ? 12
